/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  --accent-color: rgb(255, 0, 112);
  --text-color: rgba(0, 0, 40, 1);
  --section-text-color: rgba(241, 178, 206, 1);
  --big-title-color: rgba(219, 0, 255, 1);
  --decoration-color: var(--accent-color);
}

.theme-dark .page {
  --page-img: url('/images/cover-image-dark.png');
}

.theme-dark .header {
  --page-img: url('/images/cover-image-dark.png');
  --theme-menu-block: block;
}
