/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  --page-bg-image: url('/images/cover-image-dark.png');
  --rec-bulb-display: flex;
  --accent-color: rgba(255, 0, 112, 1);
  --decor-color: var(--accent-color);
  --decor-text-color: rgba(219, 0, 255, 1);
  --title-decor-color: rgba(0, 0, 40, 1);
  --content-text-color: rgba(241, 178, 206, 1);
  --decor-hover-color: rgba(255, 0, 112, 0.4);
}
