.page {
  max-inline-size: var(--page-size);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--page-gap);
  background-image: var(--page-bg-image);
  background-color: var(--page-bg-color);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  font-family: 'IBM Plex mono', sans-serif;
  font-size: 18px;
}

.header {
  padding: var(--header-padding);
  inline-size: 100%;
  block-size: 100vh;
  min-block-size: 668px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--header-gap);
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before {
  content: '';
  position: absolute;
  right: var(--header-padding);
  top: var(--header-padding);
  block-size: 25px;
  inline-size: 25px;
  border-inline-end: 1px solid var(--decor-color);
  border-block-start: 1px solid var(--decor-color);
}

.decorated-zone::after {
  content: '';
  position: absolute;
  left: var(--header-padding);
  bottom: var(--header-padding);
  block-size: 25px;
  inline-size: 25px;
  border-inline-start: 1px solid var(--decor-color);
  border-block-end: 1px solid var(--decor-color);
}

.rec-bulb {
  position: absolute;
  right: calc(var(--header-padding) + 9px);
  top: var(--header-padding);
  display: var(--rec-bulb-display);
  justify-content: space-between;
  align-items: center;
  text-align: center;
  inline-size: 52px;
  block-size: 26px;
}

.rec-bulb::before {
  content: 'REC';
  color: var(--decor-color);
  line-height: 25px;
}

.rec-bulb::after {
  content: '';
  block-size: 9px;
  inline-size: 9px;
  border-radius: 50%;
  background-color: var(--decor-color);
  box-shadow: 0 0 4px 2px var(--decor-color);
}

.header__theme-menu {
  grid-column: 1/3;
  justify-self: var(--theme-menu-self);
  margin: var(--theme-menu-margin);
}

.header__theme-menu-list {
  display: flex;
  flex-direction: var(--theme-menu-direc);
  gap: 10px;
}

.header__theme-menu-item {
  block-size: 26px;
  inline-size: 70px;
  text-align: center;
}

.header__theme-menu-item:hover {
  border: 1px solid var(--decor-hover-color);
}

.header__theme-menu-item:has(:focus-visible) {
  border-bottom: 1px solid var(--decor-color);
}

.header__theme-menu-item:has(.header__theme-menu-button_active) {
  border: 1px solid var(--decor-color);
}

.header__theme-menu-button {
  background-color: transparent;
  border: none;
  text-transform: lowercase;
  color: var(--decor-color);
  line-height: 18px;
}

.header__theme-menu-button:focus {
  border: none;
  outline: none;
}

.decor-text-container {
  position: absolute;
  top: 0;
  left: var(--header-padding);
  block-size: 100%;
  inline-size: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  z-index: -1;
}

.decor-text {
  font-size: var(--decor-text-size);
  line-height: var(--decor-text-height);
  letter-spacing: -2px;
  color: var(--decor-text-color);
  text-shadow: 4px 4px 0 var(--accent-color);
}

.header .title-decor {
  grid-column: var(--header-title-column);
  margin-bottom: calc(var(--header-title-margin) - var(--header-padding));

}

.title-decor {
  font-size: 18px;
  color: var(--title-decor-color);
  background: var(--accent-color);
}

.main {
  display: flex;
  flex-direction: column;
  gap: var(--main-gap);
  padding-inline: var(--header-padding);
}

.section {
  display: grid;
  gap: 20px;
  grid-template-columns: var(--section-columns);
}

.section__title {
  font-size: 18px;
  color: var(--decor-color);
}

.section__content-text {
  margin-top: 10px;
  color: var(--content-text-color);
}

.decor-link {
  text-decoration: none;
  text-shadow: 1px 1px var(--accent-color);
}

.decor-link:hover {
  text-decoration: underline;
}

.decor-link:focus {
  border: none;
  outline: none;
}

.decor-link:focus-visible {
  outline: 1px solid var(--content-text-color)
}

.section__content-container {
  display: grid;
  gap: 20px;
}

.section__content-container h4 {
  font-weight: 400;
}

.visual-guide {
  gap: var(--header-padding);
}

.img {
  block-size: 100%;
  inline-size: 100%;
  overflow: hidden;
  object-position: center;
  object-fit: cover;
}

.footer {
  position: relative;
  min-block-size: var(--header-height);
  inline-size: calc(100% - var(--header-padding) / 4);
} 
 
.footer .decor-text-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: calc(-1 * var(--header-padding));
}