

.page {
  background-image: var(--page-bg-image);
  background-color: var(--page-bg-color);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  font-family: 'IBM Plex mono', sans-serif;
  font-size: 18px;
  line-height: 23.4px;
  display: flex;
  flex-direction: column;
  gap: var(--page-gap);
}

.header {
  block-size: 100vh;
  inline-size: 100%;
  min-block-size: var(--header-footer-size);
  padding: var(--padding);
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before {
  content: '';
  position: absolute;
  block-size: 25px;
  inline-size: 25px;
  border-block-start: 1px solid var(--decor-color);
  border-inline-end: 1px solid var(--decor-color);
  top: var(--padding);
  right: var(--padding);
}

.decorated-zone::after {
  content: '';
  position: absolute;
  block-size: 25px;
  inline-size: 25px;
  border-block-end: 1px solid var(--decor-color);
  border-inline-start: 1px solid var(--decor-color);
  bottom: var(--padding);
  left: var(--padding);
}

.rec-bulb {
  position: absolute;
  top: var(--padding);
  right: calc(9px + var(--padding));
  block-size: 26px;
  inline-size: 52px;
  display: var(--rec-bulb-display);
  justify-content: space-between;
  align-items: center;
}

.rec-bulb::before {
  content: 'REC';
  color: var(--accent-color);
}

.rec-bulb::after {
  content: '';
  background-color: var(--accent-color);
  block-size: 9px;
  inline-size: 9px;
  border-radius: 50%;
  box-shadow: 0 0 4px 2px var(--accent-color);
}

.header__theme-menu {
  grid-column: 1/3;
  justify-self: var(--menu-justify);
  margin-top: calc(var(--menu-top) - var(--padding));
}

.header__theme-menu-list {
  display: var(--menu-display);
  gap: 10px;
  flex-direction: var(--menu-direction);
}

.header__theme-menu-item {
  text-align: center;
  block-size: 26px;
  inline-size: 70px;
}

.header__theme-menu-button {
  background-color: transparent;
  border: none;
  color: var(--decor-color);
  text-transform: lowercase;
  line-height: 18px;
}

.header__theme-menu-button:focus {
  border: none;
  outline: none;
}

.header__theme-menu-button_active {
  pointer-events: none;
}

.header__theme-menu-item:has(.header__theme-menu-button_active) {
  border: 1px solid var(--decor-color);
}

.header__theme-menu-item:hover {
  outline: 1px solid var(--button-hover-color);
}

.header__theme-menu-item:has(:focus-visible) {
  border-bottom: 1px solid var(--decor-color);
}

.decor-text-container {
  position: absolute;
  z-index: -1;
  block-size: 100%;
  inline-size: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
}

.decor-text {
  font-size: var(--decor-text-size);
  line-height: var(--decor-text-height);
  color: var(--decor-text-color);
  text-shadow: 4px 2px var(--accent-color);
  margin-left: var(--decor-text-left);
}

.header .title-decor {
  grid-column: var(--title-column);
  margin-bottom: calc(var(--title-bottom) - var(--padding));
  align-self: end;
}

.title-decor {
  font-size: 18px;
  background-color: var(--accent-color);
  color: var(--decor-title-color);
}

.main {
  inline-size: 100%;
  padding-inline: var(--padding);
  display: flex;
  flex-direction: column;
  gap: var(--main-gap);
}

.section {
  display: grid;
  grid-template-columns: var(--section-columns);
  gap: 20px;
}

.section__title {
  font-size: 18px;
  color: var(--decor-color);
}

.section__content-container {
  display: grid;
  gap: 20px;
}

.section__content {
  display: grid;
  gap: 10px;
}

.section__content-text {
  color: var(--main-text-color);
}

.decor-link {
  text-decoration: none;
  text-shadow: 2px 2px var(--accent-color);
}

.decor-link:hover {
  text-decoration: underline;
}

.decor-link:focus {
  border: none;
  outline: none;
}

.decor-link:focus-visible {
  outline: 1px solid var(--main-text-color);
}

.section-distraction-causes .title-decor {
  grid-column: 1/2;
}

.section-distraction-causes .section__content-container {
  grid-template-columns: 1fr 1fr 1fr;
  grid-column: 1/3;
  grid-row: 2;
}

.section-distraction-causes .section__content {
  align-self: start;
  grid-column: var(--content-column);
}

.section__content-container h4 {
  font-weight: 400;
}

.visual-guide {
  display: grid;
  gap: var(--padding);
  grid-template-columns: 1fr 1fr 1fr;
}

.visual-guide .title-decor {
  grid-column: 1/4;
  grid-row: 1;
}

img {
  block-size: 100%;
  inline-size: 100%;
  grid-column: 1/4;
  object-fit: cover;
}

.sunset {
  grid-column: var(--sunset-column);
}

.ice-cream {
  grid-column: var(--ice-cream-column);
  grid-row: var(--ice-cream-row);
}

.tape {
  grid-column: var(--tape-column);
  grid-row: var(--tape-row);
}

.books {
  grid-column: var(--books-column);
}

.street {
  grid-column: var(--street-column);
}

.footer {
  min-block-size: var(--header-footer-size);
}

.footer .decor-text-container {
  position: absolute;
  z-index: -1;
  block-size: 100%;
  inline-size: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer .decor-text {
  margin-left: -3px;
}

@media (width >= 768px) {
  .page {
    --decor-text-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    --decor-text-height: 99px;
    --decor-text-left: 0;
    --page-gap: 60px;
    --padding: 20px;
    --header-footer-size: 1024px;
    --menu-top: 192px;
    --title-bottom: 183px;
    --title-column: 2/3;
    --main-gap: 80px;
    --section-columns: 1fr 2fr;
    --sunset-column: 1/3;
    --ice-cream-column: 3;
    --ice-cream-row: 2/4;
    --tape-column: 1;
    --tape-row: 2 span;
    --books-column: 2;
    --street-column: 2/4;
  }
}  

@media (width >= 1024px) {
  .page {
    --decor-text-height: 130px;
    --header-footer-size:768px;
    --menu-top: 0;
    --menu-justify: center;
    --menu-direction: row;
    --title-bottom: 134px;
    --content-column: 0;
  }

  .focus-challenge .section__content-container,
  .improve-focus .section__content-container {
    margin-left: -5px;
    letter-spacing: -0.05px;
  }
}


