.page {
  max-inline-size: var(--page-size);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--page-gap);
  background-image: var(--page-bg-image);
  background-color: var(--page-bg-color);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  font-family: "IBM Plex mono", sans-serif;
  font-size: 18px;
  line-height: 23.4px;
}

.header {
  inline-size: 100%;
  block-size: 100vh;
  min-block-size: 668px;
  position: relative;
  display: grid;
  grid-template-columns: var(--grid-columns);
  gap: var(--header-gap);
  padding: var(--header-padding);
}

.decorated-zone::before {
  content: "";
  block-size: 25px;
  inline-size: 25px;
  border-block-start: 1px solid var(--decor-color);
  border-inline-end: 1px solid var(--decor-color);
  position: absolute;
  right: var(--header-padding);
  top: var(--header-padding);
}

.decorated-zone::after {
  content: "";
  block-size: 25px;
  inline-size: 25px;
  border-block-end: 1px solid var(--decor-color);
  border-inline-start: 1px solid var(--decor-color);
  position: absolute;
  left: var(--header-padding);
  bottom: var(--header-padding);
}

.rec-bulb {
  position: absolute;
  content: "";
  right: calc(8px + var(--header-padding));
  top: var(--header-padding);
  block-size: 26px;
  inline-size: 52px;
  display: var(--rec-bulb-display);
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.rec-bulb::before {
  content: "REC";
  color: var(--decor-color);
  line-height: 25px;
}

.rec-bulb::after {
  content: "";
  block-size: 9px;
  inline-size: 9px;
  border-radius: 50%;
  background-color: var(--decor-color);
  box-shadow: 0 0 4px 2px var(--decor-color);
}

.header__theme-menu {
  justify-self: var(--theme-justify);
  margin-top: calc(var(--theme-menu-padding) - var(--header-padding));
}

.header__theme-menu-list {
  display: flex;
  flex-direction: var(--theme-menu-dir);
  gap: 10px;
}

.header__theme-menu-item {
  block-size: 26px;
  inline-size: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__theme-menu-item:focus {
  outline: none;
  border: none;
}

.header__theme-menu-button:focus-visible {
  border-block-end: 1px solid var(--decor-color);
}

.header__theme-menu-button {
  background-color: transparent;
  border: none;
  outline: none;
  color: var(--decor-color);
  text-transform: lowercase;
  padding-inline: 13px;
}

.header__theme-menu-button_active {
  outline: 1px solid var(--decor-color);
  pointer-events: none;
}

.header__theme-menu-item .header__theme-menu-button:hover {
  outline: 1px solid var(--button-hover-color);
}

.decor-text-container {
  position: absolute;
  top: 0;
  left: var(--header-decor-text-left);
  block-size: 100%;
  inline-size: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  z-index: -1;
}

.decor-text {
  font-size: var(--decor-text-size);
  line-height: var(--decor-text-height);
  letter-spacing: -2px;
  color: var(--decor-text-color);
  text-shadow: 4px 4px 0 var(--accent-color);
}

.title-decor {
  font-weight: 700;
  font-size: inherit;
  background-color: var(--accent-color);
  color: rgba(0, 0, 40, 1);
}

.header .title-decor {
  margin-bottom: calc(
    var(--header-title-decor-padding) - var(--header-padding)
  );
}

.main {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--main-gap);
  padding-inline: var(--main-inline-padding);
}

.section {
  display: grid;
  gap: 20px;
  grid-template-columns: var(--grid-columns);
}

.section__title {
  color: var(--decor-color);
  font-size: 18px;
  font-weight: 700;
  line-height: 23.4px;
}

.section__content .title-decor {
  margin-bottom: 10px;
}

.section__content-container {
  display: grid;
  gap: 20px;
}

.section__content-container h4 {
  font-weight: 400;
}

.section__content-text {
  color: var(--main-text-color);
}

.decor-link {
  text-decoration: none;
  text-shadow: 1px 1px var(--accent-color);
}

.decor-link:hover {
  text-decoration: underline;
}

.decor-link:focus {
  border: none;
  outline: none;
}

.decor-link:focus-visible {
  border: 1px solid var(--main-text-color);
}

.focus-challenge {
  grid-template-columns: var(--grid-columns);
}

.visual-guide {
  display: grid;
  grid-template-columns: var(--grid-columns);
  gap: var(--section-gap);
}

.img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  overflow: hidden;
}

.footer {
  position: relative;
  block-size: 100vh;
  min-block-size: var(--footer-block-size);
  inline-size: calc(100% - var(--header-padding) / 4);
}

.footer .decor-text-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -10px;
}
