/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --page-size: 375px;
  --page-gap: 40px;
  --page-bg-image: url('./images/cover-image-dark.png');
  --grid-columns: 1fr;
  --grid-rows: auto;
  --header-padding: 10px;
  --header-gap: 312px;
  --rec-bulb-display: flex;
  --theme-menu-padding: 75px;
  --theme-menu-dir: column;
  --theme-justify: end;
  --header-decor-text-left: 10px;
  --decor-text-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  --decor-text-height: 95.7px;
  --header-title-decor-padding: 66px;
  --main-gap: 50px;
  --main-inline-padding: 10px;
  --section-gap: 10px;
  --footer-block-size: 668px;
  /* colors */
  --page-bg-color: rgba(0, 0, 40, 1);
  --accent-color: rgba(255, 0, 112, 1);
  --decor-color: var(--accent-color);
  --button-hover-color: rgba(255, 0, 112, 0.4);
  --decor-text-color: rgba(219, 0, 255, 1);
  --main-text-color: rgba(241, 178, 206, 1);
}

@media (width >= 768px) {
  .page {
    --page-size: 768px;
    --page-gap: 60px;
    --decor-text-height: 99px;
  }

  .header {
    --header-padding: 20px;
    --header-gap: 434px 0;
    --theme-menu-padding: 192px;
    --header-decor-text-left: 0;
    --header-title-decor-padding: 183px;
    --grid-columns: 1fr 1fr;
    --decor-text-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header__theme-menu {
    grid-column: 2;
  }

  .header .title-decor {
    grid-column: 2;
  }

  .main {
    --main-gap: 80px;
    --main-inline-padding: 20px;
  }

  .section {
    --grid-columns: repeat(3, 1fr);
  }

  .focus-challenge .section__title {
    grid-column: 1/2;
  }

  .focus-challenge .section__content {
    grid-column: 2/4;
    margin-left: 5px;
  }

  .section-distraction-causes .section__title {
    grid-column: 1/2;
  }

  .section-distraction-causes .section__content {
    grid-column: 1/4;
  }

  .improve-focus .section__title {
    grid-column: 1/2;
  }

  .improve-focus .title-decor {
    grid-column: 2/4;
    margin-left: 8px;
    block-size: 23px;
  }

  .improve-focus .section__content-container .title-decor {
    margin-left: 0;
  }

  .improve-focus .section__content-container {
    grid-column: 2/4;
    margin-top: -70px;
    margin-left: 8px;
  }

  .visual-guide {
    --section-gap: 20px;
  }

  .visual-guide .title-decor {
    grid-column: 1/4;
  }

  .sunset {
    grid-column: 1/3;
  }

  .ice-cream {
    grid-column: 3/4;
    grid-row: 2/4;
  }

  .tape {
    grid-column: 1/2;
    grid-row: 2 span;
  }

  .books {
    grid-column: 2/3;
    grid-row: 3/4;
  }

  .street {
    grid-column: 2/4;
  }

  .footer {
    --header-padding: 20px;
    --footer-block-size: 1024px;
    --decor-text-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

}

@media (width >= 1024px) {
  .page {
    --page-size: 1024px;
    --decor-text-height: 130px;
  }

  .header {
    --header-gap: 517px 0;
    --theme-menu-padding: 20px;
    --header-title-decor-padding: 134px;
    --grid-columns: 1fr 1fr;
  }

  .header__theme-menu {
    --theme-justify: center;
    grid-column: 1/3;
  }

  .header__theme-menu-list {
    --theme-menu-dir: row;
  }

  .focus-challenge .section__content {
    margin-left: 0;
  }

  .section-distraction-causes .section__title {
    grid-column: 1/2;
    grid-row: 1/2;
  }

  .section-distraction-causes .section__content:nth-child(2) {
    grid-column: 1/2;
  }

  .section-distraction-causes .section__content:nth-child(3) {
    grid-column: 2/3;
  }

  .section-distraction-causes .section__content:nth-child(4) {
    grid-column: 3/4;
  }

  .improve-focus .title-decor {
    margin-left: 0;
  }

  .improve-focus .section__content-container {
    margin-top: -48px;
    margin-left: 0;
  }

  .footer {
    --header-padding: 20px;
    --footer-block-size: 768px;
  }
}